
<div id="bodyContainer">

    <p id="titrePrincipal">
       <span class="orange">Les </span>  
       <span class="bleu">Témoins </span>  
       <span class="orange">de </span>  
       <span class="dore">Java </span> 
    </p>
    <br>
    <div id="imageTitre">
    <img class="photoGrandDev" src="assets/Photos/GrandDev.PNG">
    <img class="arabesqueLore" src="assets/arabesqueLore.png">
    <img class="compileurs" src="assets/compileurs.png">
    </div>


    <p id="citationTexte">"J'ai longtemps cru que l'unique façon de se sentir vivre était de contempler les plaisirs les plus accessibles de la vie. Des années durant je suis sorti de chez moi, j'ai vu des amis, bu des coups, je me suis diverti de ces choses que le monde nous offre. Jamais je ne m'étais autant trompé. L'unique façon de se sentir vivant est de tapoter. <span class="dore">Java</span>  m'a offert la voie de l'exaltation et c'est désormais à moi de rendre à <span class="dore">Java</span> ce don. Ensemble nous permettrons à <span class="dore">Java</span> d'atteindre le multi-héritage, j'en fais la promesse solennelle."</p> 
    <br> 
    <p id="citationAuteur"> - Le premier Grand Dev des Témoins de <span class="dore">Java</span></p>

<h1 id="compileursTitre">
    <span class="orange">Les </span> 
    <span class="bleu">Compileurs </span>
</h1>

<img id="arabesqueD" src="assets/arabesqueDroite.png">

<img id="arabesqueG" src="assets/arabesqueGauche.png">
<p id="paragrapheCompileurs">Ces quatres tapoteurs sont les alliés les plus fiables et les plus fidèles du Grand Dev et du Culte. Leur rôle est de coordonner l'organisation des évenements au sein des Témoins, mais également d'être les garants du bon fonctionnement du Culte. Admirés de tous, craints par certains, ils sont les bras armés de <span class="dore">Java</span> prêts à tout pour accomplir les desseins du Grand Dev. </p>

<h1 id="indenteursTitre">
    <span class="orange">Les </span> 
    <span class="bleu">Indenteurs </span>
</h1>

<div id="photosIndenteurs">
<img src="assets/Photos/JordanRolland.PNG">
<img src="assets/Photos/ThomasAbrial.PNG">
<img src="assets/Photos/TeddyBengoto.PNG">
<img src="assets/Photos/AliciaMonfort.PNG">
<img src="assets/Photos/LinaAllel.PNG">
<img src="assets/Photos/AngeleBaudet.PNG">
<img src="assets/Photos/JulienKot.PNG">
<img src="assets/Photos/ChloeDesflaches.PNG">
<img src="assets/Photos/MohammedMoujahid.PNG">
<img src="assets/Photos/MathiasRibeiro.PNG">
<img src="assets/Photos/ElodieVanzeveren.PNG">
<img src="assets/Photos/GuillaumeVincent.PNG">
</div>

<p id="paragrapheIndenteurs">Les indenteurs sont des tapoteurs essentiels à la transmission de la parole du Culte aux néophytes. Ils ont comme rôle l'encadrement et l'animation des évenements du Culte; évenements auxquels ils seront toujours présents. Il se dit parmi les compileurs qu'un ou une tapoteur ou tapoteuse serait prédisposé.e à devenir le prochaine Grand Dev... Mais qui ?</p>

</div>
