<body>

    <div id="fond">

        <div id="title">
            
            
                <div id="temoin">
                    <img class="arabesqueG" src="assets/arabesqueGauche.png">
                
                    <p>Témoins de Java</p>
                
                    <img class="arabesqueD" src="assets/arabesqueDroite.png">
                    
                </div>
            
            <img src="assets/logo.png" alt=""> <!-- penser a modifier le lien de l'image-->

        </div>
        
    

    <form [formGroup]="userForm" (ngSubmit)="connexion()">
        <input type="login" id="login" name="login" formControlName="login" placeholder="login"/><br>
        <span *ngIf="loginCtl.dirty && loginCtl.hasError('required')">
            Le login est obligatoire
        </span>

        <input type="password" id="password" name="password" formControlName="password" placeholder="mot de passe" /><br>
        <span *ngIf="passwordCtl.dirty && passwordCtl.hasError('required')">
            Le mot de passe est obligatoire
        </span>
        
        <input type="submit" value="Connexion" [disabled]='userForm.invalid'/>
        <div *ngIf="error">Login ou mot de passe incorrect </div>
          </form>
    <div id="inscription">
        Vous voulez nous rejoindre ? 
        <button (click)="inscription()">S'inscrire</button>
    </div>
    
</div>

</body>