body {
    
    background-color: #2f2f2f;
    color: white;
    overflow: hidden;
    height: 100vh;
    
    
}

#title{
    
    justify-content: center;
    text-align: center;
    font-size: 200%;
    margin-top: 5%;
    
    
}

#temoin {
    display: flex;
    align-items:flex-end;
    justify-content: center;
}

#temoin img{

    width: 150px;
}

// .arabesqueG {
//     width: 150px;
//     position: absolute;
//     top: 10%;
//     left: 35%;

// }

// .arabesqueD {
//     width: 150px;
//     position: absolute;
//     top: 10%;
//     left: 57%;
// }

img{
    width: 400px;
    margin-bottom: 2%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
input[type="login"], input[type="password"], input[type="submit"] {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #13131a;

    font-family: monospace;
    font-size: 16px;
    cursor: pointer;
}

  input[type="login"], input[type="password"]{
    color: white;
}

input[type="submit"] {
    margin-top: 20px;
    color: white;
}

#inscription{
    text-align: center;
    font-family: monospace;
}

#inscription button{
    margin: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
}