<body>
    <div id="title">
        <h1>Culte de Java</h1>
        <img src="https://cdn-icons-png.flaticon.com/512/2146/2146434.png" alt=""> <!-- penser a modifier le lien de l'image-->
    </div>
    

    <form #loginForm="ngForm" (ngSubmit)="connexion()">
        <input type="login" id="login" name="login" required [(ngModel)]="connexionForm.login"/><br>
        <span *ngIf="loginCtl.dirty && loginCtl?.hasError('required')" class="text-danger">
            Le login est obligatoire
        </span>

        <input type="password" id="password" name="password" required [(ngModel)]="connexionForm.password"/><br>
        <span *ngIf="passwordCtl.dirty && passwordCtl?.hasError('required')" class="text-danger">
            Le mot de passe est obligatoire
        </span>
        
        <input type="submit" value="Connexion" />
        <div *ngIf="wrongPassword">Login ou mot de passe incorrect</div>
    </form>
    <div id="inscription">
        Pas encore inscrit ? 
        <button (click)="inscription()">S'inscrire</button>
    </div>
    

</body>