
    <div id="nav">

        <div id="logo">
        <img src="assets/logo.png" alt="">
        </div>

        <div id="sousTitre">
            <p><img src="assets/javaProtege.PNG" alt=""></p>
        </div>

        <ul id="navList">

            <div id="hautNav">
            <li>
                
                <a [routerLink]="['/evenement']" routerLinkActive="active">Evenements</a>
            </li>
                    
            <li *ngIf="connected().rang != 'Fidele'">
                <a [routerLink]="['/tapoteur']" routerLinkActive="active">Tapoteurs</a>
            </li>
                                
            <li *ngIf="connected().rang == 'Indenteur' || connected().rang == 'Grand Dev'" >
                <a [routerLink]="['/demandes']" routerLinkActive="active">Demandes</a>
            </li>
                                
            <li>
                <a [routerLink]="['/faq']" routerLinkActive="active">Forum /FAQ</a>
            </li>
                                
            <li>
                <a [routerLink]="['/lore']" routerLinkActive="active">Témoins JAVA</a>
            </li>
        </div>
    </ul>
    
        <div id="basNav">
        
                 <a [routerLink]="['accueil']" routerLinkActive="active">Retour Accueil</a>
            
    
            
                 <a [routerLink]="['']" routerLinkActive="active" (click)="deconnexion()">Deconnexion</a>
            
        </div>
        
    </div>
