body{
    margin: 0;
    display: flex;
    width: 20%;
}

#nav{
    background-color: #2f2f2f;
    margin-right: 10px;
}

ul{
    list-style-type: none;
}

li{
    color: white;
    
}