#nav {
    width: 12%;
    
    position:fixed;

    top: 0;
    bottom: 0;
    
    background-color: #2f2f2f;
    
    margin-left: 2%;

    overflow: auto;
    
    
}

#logo{
    margin-top: 6%;
    display: flex;
    justify-content: center;
   
}

#logo img{
    width: 80%;
}

#sousTitre{
    display: flex;
    justify-content: center;
    color: white;
}

#sousTitre img{
    width: 100%;
    margin-left: -2%;
    margin-top: -8%;
}

#navList a, ul {

    

    font-size: 100%;
    text-decoration: none;
    color: white;
    
    
    
}

#hautNav {
    

    text-align: center;
    
    padding-left: 5%;
    margin-top: 20%;
   

}

#hautNav li {
    

  
    list-style-image: url("../../assets/folder2.png");
    
    line-height: 400%;
    
}




#basNav {


   display: flex;
   flex-direction: column;
   justify-content: flex-end;
    margin-left: 20%;
  

}

#basNav a {

    font-size: 120%;
    text-decoration: none;
    color: white;
    padding-top: 20%;
}