
    <div id="nav">
        <ul id="navList">

            <div id="hautNav">
            <li>
                <a [routerLink]="['/evenement']" routerLinkActive="active">Evenements</a>
            </li>
                    
            <li>
                <a [routerLink]="['/tapoteur']" routerLinkActive="active">Tapoteurs</a>
            </li>
        </div>
    
        <div id="basNav">
            <li>
                 <a [routerLink]="['accueil']" routerLinkActive="active">Retour Accueil</a>
            </li>
    
            <li>
                 <a [routerLink]="['']" routerLinkActive="active">Deconnexion</a>
            </li>
        </div>
        </ul>
    </div>
