#body {

   display: flex;
   height: 8vh;
   width: 100%;

   

   
   

}

#logo {

    display: flex;
    justify-content: center;
    
    background-color: #2f2f2f;
   
    width: 16.5%;
    color: white;
    align-items: center;
    

  


}


#welcomeBar {

   

display: flex;
justify-content: space-between;

color: white;
    background-color: #2f2f2f;
    margin-left: 0.5%;
    width: 100%;

    

}

/*#welcomeBox {

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    height: 50%;
    left: 1%;
    top: 32%;
    padding-left: 0.9%;
    padding-right: 0.9%;

    background-color: #515658;


}*/



#photo {

    display: flex;
    align-items: center;
    justify-content: center;

    height: 80%;
    


    padding-left: 1.2%;
    padding-right: 1.2%;

    
    margin-right: 1.5%;
    margin-top: 0.5%;

    



}

#photo img {

height: 8vh;


}


#welcomeBox{
    display: inline-block;
    justify-content: center;
}

#welcomeBox p {
    overflow: hidden;
    font-family: monospace;
    letter-spacing: 5px;
    white-space: nowrap;
    border-right: 5px solid rgb(24, 233, 24); 
    animation: writing 5s steps(16), /* steps: remplacer par le nombre de caractères dans "bienvenue login" */
               blink-caret 1.5s step-end infinite;
}
  
@keyframes writing { /* writing effect */
    from {
        width: 0
      }to{
        width: 100%;
      }
}

@keyframes blink-caret { /* cursor effect */
    from, to { border-color: transparent }
    50% { border-color: rgb(24, 233, 24); }
  }