#body {
   display: flex;

   
   

}

#logo {
    
    background-color: #2f2f2f;
    height: 80px;
    width: 300px;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
  


}

#textlogo {
    margin-left: 105px;
    margin-top: 35px;
}

#welcomeBar {
    background-color: #2f2f2f;
    margin-left: 10px;
    margin-top: 10px;
    height: 80px;
    width: 2000px;

    

}

#welcomeBox {

    margin-left: 10px;
    margin-top: 22px;
    background-color: #515658;
    width: 200px;
    height: 50px;

}

#textwelcomeBar {
    
    margin-top: -35px;
    margin-left: 40px;
    color: white;
    
    

}