/* You can add global styles to this file, and also import other style files */
 body {


    background-color: #515658;  
     margin: 0;
     font-family: monospace;
     font-size: large;
     
}

button {
   cursor: pointer;
}

submit {
   cursor: pointer;
}