<div class ="container">
    <h1>Profil de fidèle, car seuls les vrais savent</h1>

    <label>Identifiant:</label><br>
    <form>

        <input type="text" id="login" name="login" [(ngModel)]="tapoteurForm.login" readonly/>
        <button (click)="LoginEdit_On()">Modifier</button><br>

        <input type="text" id="password" name="password" [(ngModel)]="tapoteurForm.password" readonly/>
        <button (click)="PasswordEdit_On()">Modifier</button><br>

        <input type="text" id="nom" name="nom" [(ngModel)]="tapoteurForm.nom" readonly/>
        <button (click)="NomEdit_On()">Modifier</button><br>

        <input type="text" id="prenom" name="prenom" [(ngModel)]="tapoteurForm.prenom" readonly/>
        <button (click)="PrenomEdit_On()">Modifier</button><br>

        <label>Adresse:</label><br>
<input type="text" id="numero" name="numero" size="4" [(ngModel)]="tapoteurForm.numero" readonly/>

<input type="text" id="voie" name="voie" [(ngModel)]="tapoteurForm.voie" readonly/>

<input type="text" id="cp" name="cp" placeholder="CP" size="6" [(ngModel)]="tapoteurForm.cp" readonly/>

<input type="text" id="ville" name="ville" [(ngModel)]="tapoteurForm.ville" readonly/>

<input type="text" id="pays" name="pays" placeholder="Pays" size="12" [(ngModel)]="tapoteurForm.pays" readonly/>
<button (click)="AdresseEdit_On()">Modifier</button><br><br>
    </form>
</div>


    <!--<button (click)="editUserLogin()">Modifier le login</button>
    <button (click)="editUserPassword()">Modifier le mot de passe</button>
    <button (click)="editUserNom()">Modifier le nom</button>
    <button (click)="editUserPrenom()">Modifier le prénom</button>
    <button (click)="editUserImageProfil()">Modifier l'image de profil</button>
    <button (click)="editUserAdresse()">Modifier l'adresse</button>-->

