<body>
    
    <h1 >Liste des Demandes </h1>
    <h3>Vos demandes seront bien prises en considération</h3> 
        <table id="table">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Montant (en euros)</th>
                    <th>Descriptif</th>
                    <th>Statut</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let demande of list()">
                        <td>{{demande.id}}</td>
                        <td>{{demande.montant}}</td>
                        <td>{{demande.descriptif}}</td>
                        <td>{{demande.statut}}</td>
                        <td>
                            <input type="button" value="Modifier" (click)="edit(demande.id)">
                            <input type="button" value="Supprimer"  (click)="remove(demande.id)">                           
                        </td>

                </tr>
            </tbody>

        </table>
        <div id="ajouter">
        <input type="button" value="Ajouter un événement" (click)="add()" id="add">
        </div>



        <div input type="button" *ngIf="demandeForm">
            <h2>Edition d'une demande</h2>
            <h3>Votre demande sera traitée dans les meilleurs délais</h3> 
            <div id="form">
                <div> <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" size="4" readonly [(ngModel)]="demandeForm.id"></div>
                <div> <label for="nom">Montant:</label> <input type="number" class="form-control" id="montant" name="montant" [(ngModel)]="demandeForm.montant"></div>
                <div><label for="descriptif">Descriptif:</label> <input type="text" class="form-control" id="descriptif" name="descriptif" [(ngModel)]="demandeForm.descriptif"></div>
                <div><label for="descriptif">Statut:</label> <input type="text" class="form-control" id="statut" name="statut" [(ngModel)]="demandeForm.statut"></div>

                <input type="button" value="Ajouter" (click)="save()" id="button">
                <input type="button" value="Annuler" (click)="cancel()" id="button">
            </div>
        </div>
   
 </body>