<div id="bodyContainer">

    <p id="titreFaq">
       <span class="turquoise">FAQ </span>  
       <span class="orange">des </span>  
       <span class="bleu">Témoins </span>  
       <span class="orange">de </span>  
       <span class="dore">Java </span> 
    </p>

    <div id="faq">
    <h1>1- J'ai entendu parlé des Témoins de <span class="dore">Java</span> et j'hésite à les rejoindre, puis-je effectuer une période d'essai ?</h1>

    <p>Vous pouvez effectuer une période d'essai au sein des Témoins, en revanche assurez vous bien que votre numéro de carte bancaire ainsi que votre cryptogramme associé et la date d'expiration de votre carte soient bien renseigné dans le formulaire d'informations personnelles que vous remplirez à votre arrivée. Il vous sera aussi possiblement demandé de nous fournir une carte SIM à votre numéro de téléphone portable actuel ainsi que quelques informations bancaires supplémentaires. Pour tout autre question supplémentaire vous pouvez vous adresser à nos Compileurs ou bien à defaut à nos Indenteurs.</p>

    <h1>2- J'ai effectué un don mais je me rends compte que je n'ai pas les moyens financiers d'assumer ce don et je regrette mon action, puis-je me faire rembourser de ce don ?</h1>

    <p>Non.</p>

    <h1>3- Que faut-il faire pour monter en rang dans le Culte de <span class="dore">Java</span> ?</h1>

    <p>Pour monter en rang dans le Culte de <span class="dore">Java</span> il vous faudra faire preuve d'une très grande rigueur et d'une très grande assiduité à la participation aux évenements du Culte. Par ailleurs des sessions de tapotage sont organisées chaque semaine et tous les tapoteurs sont fortement conviés à y participer. En outre le don régulier de 20% de votre salaire de travailleur au Culte vous permettra d'améliorer grandement vos chances de progresser spirituellement au sein des Témoins de <span class="dore">Java</span>.</p>

    <h1>4- Je souhaite mettre en pause mon activité dans le Culte pour pouvoir revenir plus tard, est-ce possible ?</h1>

    <p>Toute cessation d'activité au sein du Culte fera l'objet d'une réunion au sein des Compileurs qui statueront votre cas. Sâchez cependant que le Culte ne peut vous offrir aucune garantie que votre ordinateur de tapotage (même personnel) vous sois rendu.</p>

    <h1>5- Je trouve que le Grand Dev ressemble beaucoup à un certain médecin de génie qui fait l'hunanimité, est ce bien lui ?</h1>

    <p>Le Culte se réserve le droit de protéger les informations personnelles de ses membres ainsi que de ses partenaires économiques. En outre l'utilisation d'hydroxy-Chloroquine est autorisée au sein du Culte mais ne se substitue aucunement aux séances de tapotages thérapeutiques sur Eclipse.</p>


    </div>
</div>