<body>
    <div id="bodyContainer">
        <p *ngIf="connected().rang != 'Grand Dev'"><img id="boutonFaireUnDon" src="/assets/boutonFaireUnDon.PNG" alt="bouton faire un don" (click)="faireUnDon()"></p>
        <p *ngIf="connected().rang == 'Grand Dev'"><img id="boutonVolerCagnotte" src="/assets/boutonFaireUnDon.PNG" alt="voler la cagnotte" (click)="volerLaCagnotte()"></p>
        <p>Somme cagnotte totale: {{connected().allDons}} <br>
        L'argent que j'ai volé: {{connected().argentVole}}</p>
       
        <p id="EvenementDuMois"><span class="orange">public </span>
                                <span class="orange">class </span>
                                <span class="bleu">Evenement </span>
                                <span class="orange">extends </span>
                                <span class="indigo">Culte </span>
                                <span class="orange">implements </span>
                                <span class="indigo">TemoinsDeJava </span>
                                &#123;&#125;
        </p>
        <p>L'évenement du mois, anniversaire des 83 ans d'Odette Grecque et la naissance de sa fille Monique.</p>
        <br><br><br><br><br><br><br><br><br><br><br><br>

        <p id="EvenementDuMois"><span class="orange">public </span>
            <span class="orange">class </span>
            <span class="bleu">Tapoteur </span>
            <span class="orange">extends </span>
            <span class="indigo">Culte </span>
            <span class="orange">implements </span>
            <span class="indigo">TemoinsDeJava </span>
            &#123;&#125;
        </p>
        <p>Ce mois ci nous félicitions le grand Dev pour son immense implication dans le culte, et ce comme nous l'avons fait ces 23 dernières années.</p>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    
    </div>
</body>

