#bodyContainer {
    position: absolute;
    top: 10%;
    left: 14.6%;
    width: 85.3%;

    background-color: #2f2f2f;

}

#bodyContainer p {

color: white;
margin-left: 20px

}





#boutonFaireUnDon {

    cursor: pointer;
    height: 40%;
    width: 40%;
    display: block;
    margin: auto;
}


#boutonVolerCagnotte{
    margin-top: 1%;
    cursor: pointer;
    height: 40%;
    width: 40%;


}

#cadreCagnotte{
    background-color: #515658;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 24%;
    position: absolute;
    left: 55%;
    top: 3%;
    border: 2px solid gold;
    border-radius: 5%;
    
}

#cadreCagnotte p{
    line-height: 350%;
    font-size: 200%;
}

#corpsTexte  {
    font-size: 18px;
    margin-top: 8%;
}

.orange {
    color: #cc6c1d;
}

.bleu {
    color: rgb(46, 112, 163);
}

.indigo {
    color: rgb(102, 225, 248);
}