<body>
    <div id="bodyContainer">
        
        <div id="elementCagnotte">
        <p *ngIf="connected().rang != 'Grand Dev'"><img id="boutonFaireUnDon" src="/assets/boutonFaireUnDon.PNG" alt="bouton faire un don" (click)="faireUnDon()"></p>
        <p *ngIf="connected().rang == 'Grand Dev'"><img id="boutonVolerCagnotte" src="/assets/boutonVolerCagnotte.png" alt="voler la cagnotte" (click)="volerLaCagnotte()"></p>
        
        <div *ngIf="connected().rang == 'Grand Dev'" id="cadreCagnotte">
    <p>
           <span class="orange">private </span>  
           <span class="bleu">Double </span> 
            <span class="indigo">cagnotte</span> 
            = {{connected().allDons}}; <br>

        <span class="orange"> private </span> 
        <span class="bleu">Double </span> 
        <span class="indigo">argentVole </span> 
        = {{connected().argentVole}};
    </p>
        </div>
        </div>

        
        <div id="corpsTexte">
        <p style="white-space:nowrap" id="EvenementDuMois"><span class="orange">public </span>
                                <span class="orange">class </span>
                                <span class="bleu">Evenement </span>
                                <span class="orange">extends </span>
                                <span class="indigo">Culte </span>
                                <span class="orange">implements </span>
                                <span class="indigo">TemoinsDeJava </span>
                                &#123;&#125;
        </p>
       <br><br>
        <p> L'évenement du mois, anniversaire des 83 ans d'Odette Grecque et la naissance de sa fille Monique! <br>Après 9 mois d'une grossesse très compliquée, Odette a finalement mise au monde la petite Monique, dont la frimousse enjouée n'a eu que faire des coeurs endurcis de nos chers tapoteurs ! Un nouveau membre s'ajoute à la grande famille des témoins de Java. Rappelons que cette jeune enfant recevra son programme d'éducation directement de nos services d'instructions et recevra l'amitié du Grand Dev en personne ! Souhaitons tous à Odette un prompt rétablissement et nous lui souhaitons de revenir bien vite au sein des locaux des témoins pour une séance de tapotage endiablée ! </p>
        <br>

        <p>
            <span class="orange">public </span>
            <span class="orange">class </span>
            <span class="bleu">Tapoteur </span>
            <span class="orange">extends </span>
            <span class="indigo">Culte </span>
            <span class="orange">implements </span>
            <span class="indigo">TemoinsDeJava </span>
            &#123;&#125;
        </p>
       <br>
       <p>
        Ce mois ci nous félicitons le grand Dev pour son immense implication dans le culte, et ce comme nous l'avons fait ces 23 dernières années. En effet le Grand Dev a toujours su faire preuve d'une très grande exemplarité autant dans sa rigueur de tapotage, que dans son attitude inflexible à vouloir implenter l'héritage multiple dans Java. Plus qu'un homme, le Grand Dev est un modèle, et ses attributs font de lui une personne d'une classe inégalée. Si un jour le Grand Dev vous demande "Hey gamin.e, tu veux faire quoi plus tard dans la vie ?", la réponse sera évidemment "Tapoter, Grand Dev. Tapoter jusqu'à atteindre l'illumination compilatrice". 
    </p>

    <p>
        <span class="orange">public </span>
        <span class="orange">class </span>
        <span class="bleu">Don </span>
        <span class="orange">extends </span>
        <span class="indigo">Culte </span>
        <span class="orange">implements </span>
        <span class="indigo">TemoinsDeJava </span>
        &#123;&#125;
    </p>
   <br>
   <p>
    Le culte rappelle à ses aimables tapoteurs que le don de soi, et surtout le don d'argent permet à l'organisation de pérenniser son activité. Chaque euros que vous donnerez vous rapprochera un peu plus de Java, et croyez moi la dernière chose que vous souhaitez c'est bien de vous éloigner de Java; parce que s'éloigner de Java... C'est pas ouf ! Pour toute question concernant l'usage et l'organisation de la trésorerie des Témoins de Java, merci de vous en référer à nos compileurs qui se feront un plaisir de vous répondre et de donner suite à votre requête.
</p>
        <br>
        
        
        <br><br>

    </div>
</div>
</body>

