<div >
    <div>Liste des evenements</div>
    <div >
        <table >
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Lieu</th>
                    <th>Activité</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let evenement of list()">
                    <td>{{evenement.id}}</td>
                    <td>{{evenement.nom}}</td>
                    <td>{{evenement.date}}</td>
                    <td>{{evenement.lieu}}</td>
                    <td>{{evenement.activite}}</td>
                    <td>
                        <div >
                            <a input type ="button" value = "Editer"(click)="edit(evenement.id)"></a>
                            <a input type ="button" value = "Effacer"(click)="remove(evenement.id)"></a>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div >
        <a> <input type ="button" value = "Ajouter un nouvel événement" (click)="add()"></a>
    </div>
</div>


<div input type ="button" *ngIf="evenementForm">
    <div>Edition d'un evenement</div>
    <div>
        <div>
            <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" >
        </div>
        <div>
            <label for="nom">Nom:</label> <input type="text" class="form-control" id="nom" name="nom" />
        </div>
        <div>
            <label for="date">Date:</label> <input type="date" class="form-control" id="date" name="date" />
        </div>
        <div>
            <label for="lieu">Lieu:</label> <input type="text" class="form-control" id="lieu" name="lieu" />
        </div>
        <div>
            <label for="activite">Activité:</label> <input type="enum" class="form-control" id="activite" name="activite" />
        </div>
    </div>
    <a><input type ="button" value = "Ajouter à la liste" (click)="save()"></a>
    <a><input type ="button" value = "Annuler" (click)="cancel()"></a>
</div>
