<body>
    
    <h1>Liste des Evenements</h1>
        <table id="table">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Lieu</th>
                    <th>Activité</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let evenement of list()">
                        <td>{{evenement.id}}</td>
                        <td>{{evenement.nom}}</td>
                        <td>{{evenement.dateEvent}}</td>
                        <td>{{evenement.lieu}}</td>
                        <td>{{evenement.nomActivite}}</td>
                        <td>
                            <input *ngIf="connected().rang == 'Indenteur' || connected().rang == 'Grand Dev'" type="button" value="Modifier" (click)="edit(evenement.id)">
                            <input *ngIf="connected().rang == 'Indenteur' || connected().rang == 'Grand Dev'" type="button" value="Supprimer" (click)="remove(evenement.id)">
                            <input *ngIf="!evenement.inscrit &&  connected().rang == 'Fidele'" type="button" value="S'inscrire à l'événement" (click)="inscriptionEvenement(evenement.id)">
                            <span *ngIf="evenement.inscrit &&  connected().rang == 'Fidele'">Inscrit</span>
                            
                        </td>

                </tr>
            </tbody>

        </table>
        <div id="ajouter">
        <input *ngIf="connected().rang == 'Indenteur'" type="button" value="Ajouter un événement" (click)="add()" id="add">
        </div>



<div input type="button" *ngIf="evenementForm">
    <h2>Edition d'un événement</h2>
    <div id="form">
        <div> 
            <a><label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" size="4" readonly [(ngModel)]="evenementForm.id" ></a>
        </div>
        <div>
            <label for="nom">Libellé:</label> <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="evenementForm.nom"/>
        </div>
        <div>
            <label for="nomactivite">Activité:</label> 
            <select name="nomactivite" id="nomactivite" [(ngModel)]="evenementForm.nomActivite">
                <option [value]="activite" *ngFor="let activite of listActivites()">{{activite}}</option>
            </select><br>

            <label for="lieu">Ville:</label>
            <input type="text" name="lieu"  [(ngModel)]="evenementForm.lieu" /><br>

            <label for="date">Date:</label>
            <input type="date" id="date" name="date" [(ngModel)]="evenementForm.dateEvent" required min="&lt;?= date('Y-m-d') ?>"><br>

        
        <input [disabled]="evenementForm.nom == null || evenementForm.lieu == null || evenementForm.nomActivite == null || evenementForm.dateEvent == null" type="button" value="Confirmer" id="button" (click)="save()">
        <input type="button" value="Annuler" (click)="cancel()" id="button">
    </div>
</div>

<!--

<h1>Mes événements:</h1>

<table id="table">
    <thead>
        <tr>
            <th>Identifiant</th>
            <th>Nom</th>
            <th>Date</th>
            <th>Lieu</th>
            <th>Activité</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let evenement of listMesInscriptions()">
                <td>{{evenement.id}}</td>
                <td>{{evenement.nom}}</td>
                <td>{{evenement.dateEvent}}</td>
                <td>{{evenement.lieu}}</td>
                <td>{{evenement.nomActivite}}</td>
        </tr>
    </tbody>

</table>
 -->