<body>

    <h1>LA GRANDE FAMILLE DES TAPOTEURS</h1>

    <table id="table">
        <thead>
            <tr>
                <!-- <th>Photo</th> -->
                <th><span class="indigo">Identifiant</span> </th>
                <th><span class="indigo">Login</span></th>
                <th><span class="indigo">Mot de passe</span></th>
                <th><span class="indigo">Nom</span></th>
                <th><span class="indigo">Prénom</span></th>
                <th><span class="indigo">Date d'adhésion</span></th>
                <th><span class="rose">Adresse</span></th>
                <th><span class="gold">DONS €€€</span></th>
                <th><span class="bleu">Rang</span></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th><input type="text" size=17 [(ngModel)]="nameSearch" placeholder="recherche par nom"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th id="rang">
                    <input type="radio" id="rang" name="rang" value="Tapoteur" [(ngModel)]="rangSearch"/>Tapoteurs<br>
                    <input type="radio" id="rang" name="rang" value="Fidele" [(ngModel)]="rangSearch"/>Fidèle<br>
                    <input type="radio" id="rang" name="rang" value="Compileur" [(ngModel)]="rangSearch"/>Compileur<br>
                    <input type="radio" id="rang" name="rang" value="Indenteur" [(ngModel)]="rangSearch"/>Indenteur<br>
                    <input type="radio" id="rang" name="rang" value="Grand Dev" [(ngModel)]="rangSearch"/>Grand Dev<br>
                </th>
                
                <th></th>
            </tr>
            <tr *ngFor="let tapoteur of listTapoteurs() | tapoteurFilter: nameSearch:rangSearch">
                <td>{{tapoteur.id}}</td>
                <td>{{tapoteur.login}}</td>
                <td>{{tapoteur.password}}</td>
                <td>{{tapoteur.nom}}</td>
                <td>{{tapoteur.prenom}}</td>
                <td>{{tapoteur.dateAdhesion}}</td>
                <td id="adresse">{{tapoteur.numero}}, {{tapoteur.voie | titlecase}} - {{tapoteur.cp}} {{tapoteur.ville | uppercase}}  ({{tapoteur.pays | uppercase}})</td>
                <td>{{tapoteur.sommeDon}}</td>
                <td>{{tapoteur.rang}}</td>
                <td> <button *ngIf="connected().rang =='Compileur' && tapoteur.rang !='Grand Dev' && tapoteur.rang !='Compileur'" (click)="edit(tapoteur.id)">Modifier</button>
                    <button *ngIf="connected().rang =='Compileur' && tapoteur.rang !='Grand Dev' && tapoteur.rang !='Compileur'" (click)="remove(tapoteur.id)">Supprimer</button> <br>
                    <button *ngIf="connected().rang =='Compileur' && tapoteur.rang != 'Fidele' && tapoteur.rang !='Grand Dev' && tapoteur.rang !='Compileur'" (click)="demote(tapoteur.id)">Rétrograder</button>
                    <button *ngIf="connected().rang =='Compileur' && tapoteur.rang != 'Compileur' && tapoteur.rang !='Grand Dev' && tapoteur.rang !='Compileur'" (click)="promote(tapoteur.id)">Promouvoir</button><br>
                    <button *ngIf="connected().rang =='Compileur' && tapoteur.rang !='Grand Dev' && tapoteur.rang !='Compileur'" (click)="banForm(tapoteur.id)">Bannir</button>
                    <button *ngIf="connected().rang =='Grand Dev'" (click)="passationPouvoir(tapoteur.id)">Passation</button> 
                    <button *ngIf="connected().rang =='Compileur' && tapoteur.rang !='Grand Dev' && tapoteur.rang !='Compileur'" (click)="addPunition(tapoteur.id)">Punir</button> 
                </td> 
            </tr>
        </tbody>
    </table>

    <button (click)="add()" id="add">Ajouter un tapoteur</button>

    <div *ngIf="punitionForm" id="form">
        <h2>Choisissez une punition : </h2>
        <select name="punition" id="punition" [(ngModel)]="punitionForm.punition">
            <option [value]="punition" *ngFor="let punition of listTypesPunitions()">{{punition}}</option>
        </select><br>

        <button (click)="punish()">Punir</button>
        <button (click)="cancel()">Annuler</button>
        <button (click)="cancelPunish()">Annuler</button>
    </div>


    <div *ngIf="bannisForm" id="form">
        <h2>Formulaire de bannissement....</h2>
        <input type="number" id="id" name="id" size=4 readonly [(ngModel)]="bannisForm.id"/><br>
        <input type="date" id="dateBannissement" ame="dateBannissement" [(ngModel)]="bannisForm.dateBannissement"/><br>
        Motif:
        <input type="textarea" name="motif" [(ngModel)]="bannisForm.motif"/>

        <button (click)="ban()">Bannir</button>
        <button (click)="cancelBan()">Annuler</button>
    </div>

    <div *ngIf="tapoteurForm" id="form">
        <h2>Formulaire</h2>
        <label>Identifiant:</label><br>
        <input type="number" id="id" name="id" size=4 readonly [(ngModel)]="tapoteurForm.id"/><br>

        <input type="radio"  name="ran" value="Fidele" [(ngModel)]="tapoteurForm.rang"/>Fidèle
        <input type="radio"  name="rang" value="Compileur" [(ngModel)]="tapoteurForm.rang"/>Compileur
        <input type="radio"  name="rang" value="Indenteur" [(ngModel)]="tapoteurForm.rang"/>Indenteur
        <input type="radio"  name="ran Dev" value="Grand Dev" [(ngModel)]="tapoteurForm.rang"/>Grand Dev<br>

        <input type="text" id="login" name="login" placeholder="Login" [(ngModel)]="tapoteurForm.login"/>

        <input type="text" id="password" name="password" placeholder="Mot de passe" [(ngModel)]="tapoteurForm.password"/><br>

        <input type="text" id="nom" name="nom" placeholder="Nom" [(ngModel)]="tapoteurForm.nom"/>

        <input type="text" id="prenom" name="prenom" placeholder="Prénom" [(ngModel)]="tapoteurForm.prenom"/><br>

        <label>Adresse:</label><br>
        <input type="text" id="numero" name="numero" placeholder="N°" size="4" [(ngModel)]="tapoteurForm.numero"/>

        <input type="text" id="voie" name="voie" placeholder="Voie" [(ngModel)]="tapoteurForm.voie"/>

        <input type="text" id="cp" name="cp" placeholder="CP" size="6" [(ngModel)]="tapoteurForm.cp"/>

        <input type="text" id="ville" name="ville" placeholder="Ville" [(ngModel)]="tapoteurForm.ville"/>

        <input type="text" id="pays" name="pays" placeholder="Pays" size="12" [(ngModel)]="tapoteurForm.pays"/><br>

        <label>Date d'adhésion:</label><br>
        <input type="date" id="dateAdhesion" name="dateAdhesion" [(ngModel)]="tapoteurForm.dateAdhesion"/><br>

        <label>Somme des dons:</label><br>
        <input type="number" id="sommeDon" name="sommeDon" size=6 [(ngModel)]="tapoteurForm.sommeDon"/><br>

        <button [disabled]="tapoteurForm.rang == null || tapoteurForm.login == null || tapoteurForm.password== null || tapoteurForm.nom == null || tapoteurForm.prenom == null || tapoteurForm.nom == null || tapoteurForm.voie == null || tapoteurForm.cp  == null || tapoteurForm.numero == null || tapoteurForm.ville == null || tapoteurForm.pays == null || tapoteurForm.dateAdhesion== null || tapoteurForm.sommeDon == null"(click)="save()">Confirmer</button>
        <button (click)="cancel()">Annuler</button>
    </div>


    
</body>