<body>

    <h1>LA GRANDE FAMILLE DES TAPOTEURS</h1>

    <table id="table">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Identifiant</th>
                <th>Login</th>
                <th>Mot de passe</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date d'adhésion</th>
                <th>Adresse</th>
                <th>Somme des dons</th>
                <th>Rang</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let tapoteur of listTapoteurs()">
                <td>{{tapoteur.id}}</td>
                <td>{{tapoteur.login}}</td>
                <td>{{tapoteur.password}}</td>
                <td>{{tapoteur.nom}}</td>
                <td>{{tapoteur.prenom}}</td>
                <td>{{tapoteur.dateAdhesion}}</td>
                <td>{{tapoteur.numero}}, {{tapoteur.voie | titlecase}} - {{tapoteur.cp}} {{tapoteur.ville | uppercase}}  ({{tapoteur.pays | uppercase}})</td>
                <td>{{tapoteur.sommeDon}}</td>
                <td>{{tapoteur.rang}}</td>
                <td> <button (click)="edit(tapoteur.id)">Modifier</button>
                    <button (click)="remove(tapoteur.id)">Supprimer</button> 
                    <button (click)="demote(tapoteur.id)">Rétrograder</button>
                    <button (click)="promote(tapoteur.id)">Promouvoir</button>
                    <button (click)="banForm(tapoteur.id)">Bannir</button>
                </td>
                    
            </tr>
        </tbody>
    </table>
    <span *ngIf="cantDemote"><br>Impossible de rétrograder le tapoteur...</span>
    <span *ngIf="cantPromote"><br>Impossible de promouvoir le tapoteur...</span>

    <button (click)="add()" id="add">Ajouter un tapoteur</button>


    <div *ngIf="bannisForm" id="form">
        <h2>Formulaire de bannissement....</h2>
        <input type="number" id="id" name="id" size=4 readonly [(ngModel)]="bannisForm.id"/><br>
        <input type="date" id="dateBannissement" ame="dateBannissement" [(ngModel)]="bannisForm.dateBannissement"/><br>
        Motif:
        <input type="textarea" name="motif" [(ngModel)]="bannisForm.motif"/>

        <button (click)="ban()">Bannir</button>
    </div>

    <div *ngIf="tapoteurForm" id="form">
        <h2>Formulaire</h2>
        <label>Identifiant:</label><br>
        <input type="number" id="id" name="id" size=4 readonly [(ngModel)]="tapoteurForm.id"/><br>

        <input type="radio" id="rang" name="ran" value="Fidele" [(ngModel)]="tapoteurForm.rang"/>Fidèle
        <input type="radio" id="rang" name="rang" value="Compileur" [(ngModel)]="tapoteurForm.rang"/>Compileur
        <input type="radio" id="rang" name="rang" value="Indenteur" [(ngModel)]="tapoteurForm.rang"/>Indenteur
        <input type="radio" id="rang" name="ran Dev" value="Grand Dev" [(ngModel)]="tapoteurForm.rang"/>Grand Dev<br>

        <input type="text" id="login" name="login" placeholder="Login" [(ngModel)]="tapoteurForm.login"/>

        <input type="text" id="password" name="password" placeholder="Mot de passe" [(ngModel)]="tapoteurForm.password"/><br>

        <input type="text" id="nom" name="nom" placeholder="Nom" [(ngModel)]="tapoteurForm.nom"/>

        <input type="text" id="prenom" name="prenom" placeholder="Prénom" [(ngModel)]="tapoteurForm.prenom"/><br>

        <label>Adresse:</label><br>
        <input type="text" id="numero" name="numero" placeholder="N°" size="4" [(ngModel)]="tapoteurForm.numero"/>

        <input type="text" id="voie" name="voie" placeholder="Voie" [(ngModel)]="tapoteurForm.voie"/>

        <input type="text" id="cp" name="cp" placeholder="CP" size="6" [(ngModel)]="tapoteurForm.cp"/>

        <input type="text" id="ville" name="ville" placeholder="Ville" [(ngModel)]="tapoteurForm.ville"/>

        <input type="text" id="pays" name="pays" placeholder="Pays" size="12" [(ngModel)]="tapoteurForm.pays"/><br>

        <label>Date d'adhésion:</label><br>
        <input type="date" id="dateAdhesion" name="dateAdhesion" [(ngModel)]="tapoteurForm.dateAdhesion"/><br>

        <label>Somme des dons:</label><br>
        <input type="number" id="sommeDon" name="sommeDon" size=6 [(ngModel)]="tapoteurForm.sommeDon"/><br>

        <button (click)="save()">Confirmer</button>
        <button (click)="cancel()">Annuler</button>
    </div>


    
</body>