body{
    margin-left: 15%;
    background-color:#515658 ;
    height: 100%;
}

h1, h2{
    text-align: center;
    font-family: monospace;
    color: rgb(255, 255, 255);
}

#table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: monospace;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 2%;
    margin-right: 3%;
    min-width: 80%;
    
}

#table thead tr {
    background-color: #0a0a0a;
    color: #ffffff;
    text-align: center;
}

tbody {
    text-align: center;
}

#table th, #table td {
    padding: 5px 8px;
}

#table tbody tr:nth-of-type(odd) {
    background-color: #7f8380;
}

#table tbody tr:nth-of-type(even) {
    background-color: #a9afab;
}

#table tbody tr:last-of-type {
    border-bottom: 2px solid #01350a;
}

#table tbody th:last-of-type {
    width: 15%;
}

#rang{
    width: 10%;
    text-align: left;
}





input[type="number"], input[type="text"], input[type="date"] {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #13131a;

    font-family: monospace;
    font-size: 16px;
    cursor: pointer;
}

input[type="number"], input[type="text"], input[type="date"]{
    color: rgb(215, 217, 221);
}

button {
    color: rgb(215, 217, 221);
    margin: 5px;
    padding: 3px 5px;
    border: none;
    border-radius: 4px;
    background-color: #13131a;
    font-family: monospace;
    font-size: 16px;
}

#add{
    text-align: center;
    margin-bottom: 50px;
}

#form{
    text-align: center;
    font-family: monospace;
    font-size: 16px;
    margin-bottom: 100px;
}

.indigo {
    color: rgb(62, 232, 232);
}

.bleu {
    color: rgb(72, 129, 237);
}

.rose {
    color: rgb(197, 88, 161);
}

.gold {
    font-size: 180%;
    color: gold;
    font-weight: bold;
}

.PUNI {
    background-color: red;
    color: red;
  }